.tight-table td {    
    white-space: normal !important;
    word-break: break-all; 
}

/*.wy-nav-content {
    width: 1500px !important;
}*/

/*.rst-content {
    margin-bottom: 24px;
    width: 1000px;
    overflow: visible !important;
}*/